# Import Libraries

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

# Parsing

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source,"lxml")

# Table on wikipedia

In [3]:
table=soup.find('table')
col_value=table.find_all('td')
#print(col_value)
count_ele=len(col_value)

In [4]:
postcode=[]
borough=[]
neighbourhood=[]

In [6]:
for i in range(0,count_ele,3):
    postcode.append(col_value[i].text.strip())
    borough.append(col_value[i+1].text.strip())
    neighbourhood.append(col_value[i+2].text.strip())

In [15]:
df_post = pd.DataFrame(data=[postcode, borough, neighbourhood]).transpose()
df_post.columns = ['Postcode', 'Borough', 'Neighbourhood']

In [16]:
df_post.head()

  Postcode       Borough     Neighbourhood
0      M1A  Not assigned      Not assigned
1      M1A  Not assigned      Not assigned
2      M2A  Not assigned         Parkwoods
3      M3A    North York  Victoria Village
4      M4A    North York      Harbourfront

In [17]:
df_post.drop(df_post[df_post['Borough'] == 'Not assigned'].index, inplace=True)
df_post.loc[df_post.Neighbourhood == 'Not assigned', "Neighbourhood"] = df_post.Borough

In [18]:
df_post.head()

  Postcode           Borough     Neighbourhood
3      M3A        North York  Victoria Village
4      M4A        North York      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M5A  Downtown Toronto  Lawrence Heights
7      M6A        North York    Lawrence Manor

# Grouping the data

In [20]:
df_grp = df_post.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_grp.columns = ['Postcode', 'Borough', 'Neighbourhood']

# The First Frame

In [22]:
df_grp.head()

  Postcode      Borough                        Neighbourhood
0      M1B  Scarborough                 Malvern, Scarborough
1      M1C  Scarborough  Rouge Hill, Port Union, Scarborough
2      M1E  Scarborough  Morningside, West Hill, Scarborough
3      M1G  Scarborough                          Scarborough
4      M1H  Scarborough                    Hillcrest Village

# Now dealing with latitude and longitude

In [25]:
df_latlng=pd.read_csv('http://cocl.us/Geospatial_data')
df_latlng.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [26]:
df_latlng.columns=['Postcode','Latitude','Longitude']

In [27]:
df_join=pd.merge(df_grp,df_latlng,on=['Postcode'],how='inner')
df_join

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Scarborough",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Scarborough",43.784535,-79.160497
2,M1E,Scarborough,"Morningside, West Hill, Scarborough",43.763573,-79.188711
3,M1G,Scarborough,Scarborough,43.770992,-79.216917
4,M1H,Scarborough,Hillcrest Village,43.773136,-79.239476
5,M1J,Scarborough,Fairview,43.744734,-79.239476
6,M1K,Scarborough,"Ionview, Kennedy Park, Bayview Village",43.727929,-79.262029
7,M1L,Scarborough,"Golden Mile, Oakridge, Silver Hills",43.711112,-79.284577
8,M1M,Scarborough,"Cliffside, Scarborough Village West, Newtonbrook",43.716316,-79.239476
9,M1N,Scarborough,"Cliffside West, Willowdale South",43.692657,-79.264848
10,M1P,Scarborough,"Scarborough Town Centre, Wexford Heights, York...",43.757410,-79.273304
11,M1R,Scarborough,"Wexford, Willowdale West",43.750072,-79.295849
12,M1S,Scarborough,Scarborough,43.794200,-79.262029
13,M1T,Scarborough,"Sullivan, Tam O'Shanter, Scarborough",43.781638,-79.304302
14,M1V,Scarborough,"L'Amoreaux East, Milliken, Steeles East, Scarb...",43.815252,-79.284577
15,M1W,Scarborough,Scarborough,43.799525,-79.318389
16,M1X,Scarborough,Scarborough,43.836125,-79.205636
17,M2H,North York,Bathurst Manor,43.803762,-79.363452
18,M2J,North York,"Henry Farm, Oriole, Northwood Park",43.778517,-79.346556
19,M2K,North York,CFB Toronto,43.786947,-79.385975
20,M2L,North York,"York Mills, Downsview West",43.757490,-79.374714
21,M2M,North York,"Willowdale, Downsview Central",43.789053,-79.408493
22,M2N,North York,Downsview Northwest,43.770120,-79.408493
23,M2P,North York,North York,43.752758,-79.400049
24,M2R,North York,North York,43.782736,-79.442259
25,M3A,North York,Victoria Village,43.753259,-79.329656
26,M3B,North York,Woodbine Gardens,43.745906,-79.352188
27,M3C,North York,"Don Mills South, Woodbine Heights",43.725900,-79.340923
28,M3H,North York,"Downsview North, Wilson Heights, Thorncliffe Park",43.754328,-79.442259
29,M3J,North York,"York University, East Toronto",43.767980,-79.487262
...,...,...,...,...,...
73,M6C,York,York,43.693781,-79.428191
74,M6E,York,York,43.689026,-79.453512
75,M6G,Downtown Toronto,Downtown Toronto,43.669542,-79.422564
76,M6H,West Toronto,"Dufferin, West Toronto",43.669005,-79.442259
77,M6J,West Toronto,"Trinity, West Toronto",43.647927,-79.419750
78,M6K,West Toronto,"Exhibition Place, Parkdale Village, West Toronto",43.636847,-79.428191
79,M6L,North York,"North Park, Upwood Park, North York",43.713756,-79.490074
80,M6M,York,"Keelesdale, Mount Dennis, Silverthorn, York",43.691116,-79.476013
81,M6N,York,"Runnymede, York",43.673185,-79.487262
82,M6P,West Toronto,"The Junction South, West Toronto",43.661608,-79.464763
83,M6R,West Toronto,"Roncesvalles, Canada Post Gateway Processing C...",43.648960,-79.456325
84,M6S,West Toronto,"Swansea, West Toronto",43.651571,-79.484450
85,M7A,Queen's Park,Queen's Park,43.662301,-79.389494
86,M7R,Mississauga,Mississauga,43.636966,-79.615819
87,M7Y,East Toronto,Humber Bay,43.662744,-79.321558
88,M8V,Etobicoke,"Mimico South, New Toronto, Albion Gardens",43.605647,-79.501321
89,M8W,Etobicoke,"Long Branch, Northwest",43.602414,-79.543484
90,M8X,Etobicoke,"Montgomery Road, Old Mill North, Etobicoke",43.653654,-79.506944
91,M8Y,Etobicoke,"King's Mill Park, Kingsway Park South East, Mi...",43.636258,-79.498509
92,M8Z,Etobicoke,"Mimico NW, The Queensway West, Royal York Sout...",43.628841,-79.520999
93,M9A,Etobicoke,Rouge,43.667856,-79.532242
94,M9B,Etobicoke,"Islington, Martin Grove, Princess Gardens, Wes...",43.650943,-79.554724
95,M9C,Etobicoke,"Eringate, Markland Wood, Old Burnhamthorpe, Gu...",43.643515,-79.577201
96,M9L,North York,Cliffcrest,43.756303,-79.565963
97,M9M,North York,"Humberlea, Birch Cliff",43.724766,-79.532242
98,M9N,York,Dorset Park,43.706876,-79.518188
99,M9P,Etobicoke,Maryvale,43.696319,-79.532242
100,M9R,Etobicoke,"Martin Grove Gardens, Richview Gardens, St. Ph...",43.688905,-79.554724
101,M9V,Etobicoke,"Beaumond Heights, Humbergate, Jamestown, Mount...",43.739416,-79.588437
102,M9W,Etobicoke,Upper Rouge,43.706748,-79.594054